@import url('https://fonts.googleapis.com/css2?family=Rubik+Maps&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

.container {
    background: rgb(231, 207, 209);
    min-height: 100vh; 
    background-size: cover; 
    backdrop-filter: blur(230px);
}

.container .boxbar {
    width: 100%;
    height: 75px;
    background: rgba(145, 18, 33, 0.47);
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    padding: 0 30px; 
}

.boxbar .logo {
    margin-top: 0; 
}

.boxbar .logo a {
    font-size: 30px;
    font-family: 'Rubik Maps', sans-serif;
    color: floralwhite;
    text-decoration: none;
}

.boxbar ul {
    display: flex; 
    list-style: none;
    margin: 0;
}

.boxbar ul li {
    margin: 0 10px;
}

.boxbar ul li a {
    font-size: 23px;
    font-family: 'Arial Narrow', sans-serif;
    color: floralwhite;
    text-decoration: none;
    padding: 6px 12px;
}

.boxbar ul li a.active,
.boxbar ul li a:hover {
    background: #eb2431;
    border: 2px solid #ff3300;
    border-radius: 12px;
}

.container .center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; 
}

.center h1, .center h2 {
    color: #ff5c33;
}

main {
    color: #333;
    padding: 20px;
}

main section {
    margin-bottom: 20px;
}

main h2, main p {
    margin-bottom: 10px;
}

footer {
    text-align: center;
    margin-top: 20px;
    padding: 10px;
    color: #333;
}


@media (max-width: 768px) {
    .boxbar ul {
        flex-direction: column; 
        margin-right: 0;
    }

    .boxbar ul li {
        margin: 5px 0; 
    }

    .center h1 {
        font-size: 50px; 
    }

    .center h2 {
        font-size: 30px; 
    }
}
