@import url('https://fonts.googleapis.com/css2?family=Rubik+Maps&display=swap');

* {
    margin: 0;
    padding: 0;
}

.container {
    background: url(1000_F_598848005_k8ecZV5jUuya6l7U4wPITOaUvBy4DQYI.jpg) center center fixed;
    background-attachment: fixed;
    background-size: cover;
    height: 100vh;
    position: relative;
}

.container .boxbar {
    width: 100%;
    height: 75px;
    background: rgba(145, 18, 33, 0.47);
    position: absolute;
    top: 0;
}

.boxbar ul {
    float: right;
    margin-right: 30px;
}

.boxbar .logo {
    display: inline-block;
    margin-left: 50px;
    margin-top: 20px;
}

.boxbar .logo a {
    font-size: 30px;
    font-family: 'Rubik Maps', sans-serif;
    color: floralwhite;
    text-decoration: none;
}

.boxbar ul li {
    list-style: none;
    display: inline-block;
    margin: 10px;
    margin-top: 25px;
}

.boxbar ul li a {
    font-size: 23px;
    font-family: 'Arial Narrow';
    color: floralwhite;
    text-decoration: none;
    padding: 6px 12px;
}

.boxbar ul li a.active,
.boxbar ul li a:hover {
    background: #eb2431;
    border: 2px #ff3300;
    border-radius: 12px;
}

.container .center {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 105px; 
}

.container .center .city-box {
    width: 250px;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    margin-bottom: 20px;
}

.container .center .city-box h2 {
    color: #ff5c33;
    font-size: 24px; 
    margin-bottom: 10px;
}

.container .center .city-box p {
    font-size: 16px; 
    color: #333;
    margin-bottom: 10px;
}

.container .center .city-box a {
    font-size: 18px; 
    color: #eb2431;
    text-decoration: none;
}

.container .center .city-box a:hover {
    text-decoration: underline;
}
